h1 {color: white}

h2 {text-align: left;
    color: white}

a:link {color: lawngreen}
a:visited {color: lawngreen}


.item {color:white;}
.verlinkung {margin-left:  40em;}
body {background-color: black;
      padding-bottom: 4%}

img {
    max-width: 100%;
    width: auto;
    max-height: 6em;
    height: auto;
}